{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">Products</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Products Start -->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Our Products</p>
            <h1 class="display-6">Tea has a complex positive effect on the body</h1>
        </div>
        <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            <a href="" class="d-block product-item rounded">
                <img src="{% static 'img/product-1.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Green Tea</h4>
                    <span class="text-body">Blend of green teas flavored with mint. Refreshing and invigorating taste. Green tea provides a range of health benefits due to its antioxidant content, particularly EGCG. These benefits include supporting metabolism, heart health, brain function, cancer prevention, diabetes management, oral health, skin health, and stress reduction. Incorporating green tea into your routine can contribute to overall well-being and longevity. Remember to consume it in moderation and consult a healthcare professional for personalized advice.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img src="{% static 'img/product-2.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Black Tea</h4>
                    <span class="text-body">Organic black tea boasts a robust and bold flavor that tea enthusiasts worldwide cherish. Its full-bodied taste carries a slight astringency, providing a satisfying and invigorating experience.

                        In addition to its remarkable flavor, organic black tea offers potential health benefits. Abundant in antioxidants like theaflavins and thearubigins, it may contribute to heart health by aiding in cholesterol management and supporting cardiovascular function. The moderate caffeine content provides an energy boost without the usual jitters.
                        
                        Black tea's polyphenols, combined with L-theanine, may promote mental alertness and cognitive function while creating a focused yet calm state of mind. Furthermore, these polyphenols have potential immune-boosting and anti-inflammatory properties.
                        
                    .</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img src="i{% static 'mg/product-3.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Spiced Tea</h4>
                    <span class="text-body"></span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img src="{% static 'img/product-4.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Spiced Tea</h4>
                    <span class="text-body">Spicy tea offers a captivating twist on traditional flavors, infusing warmth and complexity into every sip. Crafted with a blend of aromatic spices, such as cinnamon, ginger, cardamom, and cloves, spicy tea awakens the senses with its invigorating and exotic profile.

                        Beyond its enticing taste, spicy tea can bring a range of potential benefits. Some of the spices commonly found in these blends, such as ginger and cinnamon, are renowned for their anti-inflammatory and digestive properties. These spices can aid in soothing stomach discomfort and promoting overall digestive wellness.
                        
                        Spicy tea also often contains antioxidants from its ingredient spices, contributing to its potential to support immune function and overall well-being. Additionally, the warming sensation created by the spices can have a comforting effect, making it a popular choice during colder months.
                        
                    </span>
            </a>
        </div>
    </div>
</div>
<!-- Products End -->
{% endblock %}